@page "/login"
@inject HttpClient Http

<h3>Login</h3>


@code {
    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetAsync<User[]>("sample-data/weather.json");
    }
}
