@page "/users"
@using CyprusAirportTransfer.App.UseCases.Users.Queries.GetAllUsers;
@using CyprusAirportTransfer.Frontend.Services;
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>List of Users</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
            @foreach (var user in users)
            {
                <CyprusAirportTransfer.Frontend.Components.UserListItem user="user"/>
            }
}

@code {
    private List<GetAllUsersDto> users;

    protected override async Task OnInitializedAsync()
    {
        var client = new UserService();
        var result = await client.GetUsersAsync();
        if(result.Succeeded)
        {
            users = result.Data;
        }
    }
}
