@page "/users"
@using CyprusAirportTransfer.App.UseCases.Users.Queries.GetAllUsers;
@using CyprusAirportTransfer.Frontend.Services;
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>List of Users</h1>
<row>
    <div class="col-md-2">
        <button class="add-button btn btn-primary" @onclick="DisplayNewUserForm">@(displayNewUserForm ? "Hide" : "New")</button>
    </div>
</row>
<row style="@(displayNewUserForm ? "display:block;" : "display:none;")">
    <CyprusAirportTransfer.Frontend.Components.NewUserForm  />
</row>
<row>
    @if (users == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var user in users)
        {
            <CyprusAirportTransfer.Frontend.Components.UserListItem user="user"/>
        }
    }
</row>

@code {
    private List<GetAllUsersDto> users;

    private bool displayNewUserForm = false;

    protected override async Task OnInitializedAsync()
    {
        var client = new UserService();
        var result = await client.GetUsersAsync();
        if(result.Succeeded)
        {
            users = result.Data;
        }
    }

    protected void DisplayNewUserForm()
    {
        displayNewUserForm = !displayNewUserForm;
    }

}
